@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1A0B2E;
}
/* shared style */
.display-flex{
        display: flex;
    }
.bg-color{
    background-color: #1A0B2E;
}

.p-style-font-color{
    color: #FFFFFF;
}

/* navbar related style */
#line{
    border-bottom: 1px solid #361c57 ;
}
.navbar{
    /* border: 2px solid blueviolet; */
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid teal; */
    
}
.img{
    /* border:  2px solid red; */
    width: 219px;
    height: 32px;
}
.nav-links{
    /* border: 2px solid teal; */
    display: flex;
    gap: 35px;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    /* color: #FFFFFF; */
    color: #FFFFFF;
}
.btn{
    width: 135px;
    height: 44px;
    background-color: red;
    border-radius: 25px;
    color: #FFFFFF;
    padding: 12px 16px;
}
.hamburger-menu{
    display: none;
    margin-right: 10px;
}

/* banner related style */

/* about related style */

/* responsive media quary */
@media screen and (max-width: 576px) {
    .nav-item,.nav-links , .btn{
        display: none;
    }
    .img{
    /* border:  2px solid red; */
    width: 137px;
    height: 20px;
    margin-left: 10px;
}
    .hamburger-menu{
    display: inline;
    margin-right: 25px;
}
}