@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
        display: flex;
    }
.bg-color{
    background-color: #1A0B2E;
}

.p-style-font-color{
    color: #FFFFFF;
}

/* header style */

/* navbar related style */
.navbar{
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1A0B2E;
}
.img{
    max-width: 219px;
    height: 32px;
    padding: 30px;
    /* padding-left: 200px; */
    /* align-content: center; */
}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    /* color: #FFFFFF; */
    color: #FFFFFF;
}
.btn{
    width: 135px;
    height: 44px;
    background-color: red;
    border-radius: 25px;
    color: #FFFFFF;
}
.nav-button{
    padding-left: 200px;
}
/* banner related style */

/* about related style */
section{
    align-items: center;
}
.section-title-container{
    max-width: 1200px;
    justify-content: center;
    border: 1px solid red;
    margin-left: 200px;
    align-items: center;
}
.section-title{
    font-size: 3rem;
    font-weight: 700px;
}

.fact-counter{
    gap: 80px;
    max-width: 1200px;
    border: 1px solid red;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}


/* responsive media quary */
@media screen and (max-width: 576px) {
    
}