@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1A0B2E;
}
/* shared style */
.display-flex{
        display: flex;
    }
.bg-color{
    background-color: #1A0B2E;
}

.p-style-font-color{
    color: #FFFFFF;
}





/* navbar related style */
#line{
    border-bottom: 1px solid #361c57 ;
}
.navbar{
    /* border: 2px solid blueviolet; */
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid teal; */
    
}
.img{
    /* border:  2px solid red; */
    width: 219px;
    height: 32px;
}
.img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 10px rgba(163, 51, 255, 0.6));
}
.nav-links{
    /* border: 2px solid teal; */
    display: flex;
    gap: 35px;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    /* color: #FFFFFF; */
    color: #FFFFFF;
}
.btn{
    width: 135px;
    height: 44px;
    background-color: red;
    border-radius: 25px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: #FFFFFF;
    padding: 12px 16px;
}
.btn:hover{
    background: #00FF88;
    transition: all 0.3s ease ;
    color: #1A0B2E;
}
.hamburger-menu{
    display: none;
    margin-right: 10px;
}
/* btnnnnnnn */




/* banner related style */

#banner{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("./images/hero-bg.png");
    background-position: center;
    max-height:1000px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.banner-mic{
 margin-top: 60px;
    
  position:relative;
  width:280px;
  height:280px;
  margin-bottom: 60px;
}

.banner-mic-ser{
  width:100%;
  height:100%;
}
.banner-mic-ser:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 10px rgba(163, 51, 255, 0.6));
}

.banner-mic-icon{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:90px;
}
.tec:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 10px rgba(163, 51, 255, 0.6));
}

.new-badge{
  position:absolute;
  top:10px;
  right:10px;
  background:#00ff9c;
  color:#000;
  font-size:14px;
  font-weight:bold;
  padding:6px 14px;
  border-radius:20px;
}

#banner h1{
    color: #FFFFFF;
    font-weight: 800;
    font-size: 60px;
    margin-top: 40px;
}

#banner p{
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 16px;
}
.btnn{
    display: flex;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 100px;

}

.btnn .btn1{
       display: flex;
    align-items: center;
    gap: 7px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 13px 16px;
    border-radius: 50px;
    border: none;
    text-align: center;
      background: linear-gradient(
    90deg,
    #F7E93F,
    #FB09B4,
    #9100F8
  )


}

.btnn .btn1:hover{
    background: #00FF88;
    transition: all 0.3s ease ;
    color: #1A0B2E;
}


.btnn .btn2{

    border: 2px solid #00FF88;
    padding: 13px 16px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: transparent;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;

}


.btnn .btn2:hover{
    background-color: #FFFFFF;
    color: black;
    transform: all 0.3s ease;
}




/* about related style */
.about{
    max-width: 1200px;
    /* border: solid red; */
    min-height: 600px;
    margin: 0 auto;
    padding-top: 50px;
}
.about-content{
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #351165;
}
.about-content h1{
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 2.5rem;
    padding-bottom: 16px;
}
.oooo:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 10px rgba(163, 51, 255, 0.6));
}
.about-text{
    color: #a49e9efb;
    margin-bottom: 15px;
}

.stars{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
    padding-left: 150px;
    padding-top: 50px;
}
/* .stat{
    justify-content: space-between;
} */
.stat h2{
    color: #00FF88;
    font-size: 2.5rem;
    font-weight: 900px;
    padding-bottom: 10px;
}
.stat h4{
    color: #a49e9efb;
    font-size: 12px;
}


/* choose saction style */
.wadud{
    background-color: #230E3D;
}
.wadud-ar-bacca{
    font-size: 3rem;
    color: #FFFFFF;
    text-align: center;
    padding-top: 120px;
}
.wadud-ar-bacca:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 10px rgba(163, 51, 255, 0.6));
}

.choose-title  {
    font-size: 1.40rem;
    color: #FFFFFF;
    text-align: center;
    padding:  0 10px 0 ;
    background-color: #230E3D;
}
.grid-container{
    max-width: 1200px;
    /* border: 2px solid red; */
    min-height: 700px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,150px);
    gap: 35px;
}
.box-1{
    grid-row: 1 / span 2;
    padding: 60px 25px 25px 25px ;
    height: 345px;
    border-radius: 40px;
    background-color: #351165;
}
.box-2{
    grid-column: 2 / span 2;
    padding: 25px;
    height: 160px;
    border-radius: 40px;
    background-color: #351165;
}
.box-3{
    grid-column: 2 / span 2;
    padding: 25px;
    height: 160px;
    border-radius: 40px;
    background-color: #351165;
}
.box-4{
    grid-column: 1 / span 2;
    padding: 25px;
    height: 200px;
    border-radius: 40px;
    background-color: #351165;
}
.box-5{
    padding: 25px;
    height: 200px;
    border-radius: 40px;
    background-color: #351165;
}
.grid-container img {
    /* width: 60px;
    height: 60px; */
    padding-bottom: 10px;
}

.grid-container h3 {
    font-size: 1.07rem;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.grid-container p{
    color: #a49e9efb;
}


/* feature related style */
.feature{
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-bottom: 50px;
    justify-content: center;
    
}
.feature-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.feature-title:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 10px rgba(163, 51, 255, 0.6));
}

.feature-cards{
    display: flex;
    grid-template-columns: repeat(3,1fr);
    gap: 29px;
    /* border-radius: 40px; */

}
.card-img iframe{
    width: 100%;
}
.feature-card{
    height: 460px;
    /* border: 1px solid blueviolet; */
    background-color: #351165;
    border-radius: 10px;

    
}
.feature-card h3 {
    font-size: 1.10rem;
    color: #FFFFFF;
    font-weight: 700;
    padding: 5px 5px 5px 15px;
}
.feature-card p {
    color: #a49e9efb;
    padding: 5px 5px 5px 15px;
    
}
.feature-card h4{
    color: #00FF88;
    padding: 5px 5px 5px 15px;
}

/* meet the host section deasine */

.host-section{
    max-width: 1200px;
    /* border: 1px solid blue; */
    margin-bottom: 20px;
    margin: 0 auto;
    /* align-items: center; */
}
.host-title{
    color: #FFFFFF;
    font-size: 3rem;
    margin-bottom:50px;
    text-align: center;

}
.host-title:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 10px rgba(163, 51, 255, 0.6));
}
.host-conent{
    display: flex;
    /* border: 1px solid teal; */
    height: 230px;
    align-items: center;
    gap: 20px;
    background-color: #351165;
    border-radius: 50px;
    
}
.host-info h3{
    color: #FFFFFF;
    padding-bottom: 15px;
    font-size: 1.5rem;
}
.host-info{
    color: #FFFFFF;
    padding-bottom: 40px;
}
.host-logo{
    padding-left: 30px;
}
.host-logo img{
    width: 200px;
    height: 200px;
    padding-top: 10px;
    /* border: 2px solid red; */
}

.host-info p{
    padding-bottom: 10px;
    color: #a49e9efb;

}
.host-logoimg img{
    border: 2px solid #533C72;
    padding: 4px;
    border-radius: 50%;
}

/* footer related style */

footer{
    background-image: url(./images/footer-bg.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 412px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

footer h2{
    text-align: center;
    margin-bottom: 40px;
    
}
footer h2:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 10px rgba(163, 51, 255, 0.6));
}


.foot{
    display: flex;
    gap: 40px;
    justify-content: center;
    
    
}


.icon1{
    display: flex;
    gap: 8px;
    color: #FFFFFF;
   
    
    
}


.icon1 p{
     opacity: 60%;

}
.copy{
    text-align: center;
    color: #FAFAFA;
    font-size: 16px;
    opacity: 60%;
    margin-top: 32px;
}



/* responsive media quary */

@media screen and (max-width: 576px) {
    .nav-item,.nav-links , .btn{
        display: none;
    }
    .img{
    /* border:  2px solid red; */
    width: 137px;
    height: 20px;
    margin-left: 10px;
}
    .hamburger-menu{
    display: inline;
    margin-right: 25px;
}

/* banner related */

#banner p{
    text-align: center;
}




 .grid-container{
    grid-template-columns: 1fr;
  }

  .stars{
    grid-template-columns:repeat(2,1fr);
    padding-left: 25px;
    gap: 10px;
  }
  .about-content{
    padding: 0 10px 0 10px;
  }
  .about-content h1 {
    font-size: 2rem;
  }

/* chooes saction */

.box-1{
    grid-row:auto;
    height: auto;
}
.box-2{
    grid-column: auto;
    height: auto;
}
.box-3{
    grid-column: auto;
    height: auto;
}
.box-4{
    grid-column: auto;
    height: auto;
}

/* grid related */

.wadud-ar-bacca{
    font-size: 30px;
}
.grid-container{
    grid-template-rows: repeat(1,1fr);
    padding: 0 10px 0 10px;
}
/* feature related */

.feature-cards{
    flex-direction: column;
    padding: 10px;
}
.feature-title{
    font-size: 20px;
}

.host-section {
    padding: 10px;
}
.host-logo img{
    padding-right: 20px;
}
.host-conent{
    flex-direction: column;
    height: 520px;
}
.host-info{
    padding: 10px;
    text-align: center;
}


/* footer related style */
.foot{
        width: 300px;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       margin: 0 auto;
       
    }

    .icon1{
        width: 80px;

    }

    .t{
         width: 150px;
    }

     .icon1 img{
        width: 24px;
        height: 24px;
     }

    .foot p{
        font-size: 20px;

    }
   
    .copy{
        font-size: 20px;
    }

    footer{
        background-size: contain;
        background-color: #220942;
        padding-top: 50px;
        margin-top: 50px;

        
    }

}
