@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1A0B2E;
}
/* shared style */
.display-flex{
        display: flex;
    }
.bg-color{
    background-color: #1A0B2E;
}

.p-style-font-color{
    color: #FFFFFF;
}

/* navbar related style */
#line{
    border-bottom: 1px solid #361c57 ;
}
.navbar{
    /* border: 2px solid blueviolet; */
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid teal; */
    
}
.img{
    /* border:  2px solid red; */
    width: 219px;
    height: 32px;
}
.nav-links{
    /* border: 2px solid teal; */
    display: flex;
    gap: 35px;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    /* color: #FFFFFF; */
    color: #FFFFFF;
}
.btn{
    width: 135px;
    height: 44px;
    background-color: red;
    border-radius: 25px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: #FFFFFF;
    padding: 12px 16px;
}
.hamburger-menu{
    display: none;
    margin-right: 10px;
}

/* banner related style */
.banner{
    background-image: url(
        "../Assignment-2/images/hero-bg.png"
    );
}



/* about related style */
.about{
    max-width: 1200px;
    /* border: solid red; */
    min-height: 600px;
    margin: 0 auto;
    padding-top: 50px;
}
.about-content{
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #351165;
}
.about-content h1{
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 2.5rem;
    padding-bottom: 16px;
}
.about-text{
    color: #FFFFFF;
    margin-bottom: 15px;
}

.stars{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
    padding-left: 150px;
    padding-top: 50px;
}
/* .stat{
    justify-content: space-between;
} */
.stat h2{
    color: #00FF88;
    font-size: 2.5rem;
    font-weight: 900px;
    padding-bottom: 10px;
}
.stat h4{
    color: #FFFFFF;
    font-size: 12px;
}


/* choose saction style */
.wadud{
    background-color: #230E3D;
}
.wadud-ar-bacca{
    font-size: 3rem;
    color: #FFFFFF;
    text-align: center;
    padding-top: 120px;
}
.choose-title  {
    font-size: 1.40rem;
    color: #FFFFFF;
    text-align: center;
    padding:  0 10px 0 ;
    background-color: #230E3D;
}
.grid-container{
    max-width: 1200px;
    /* border: 2px solid red; */
    min-height: 700px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,150px);
    gap: 35px;
}
.box-1{
    grid-row: 1 / span 2;
    padding: 60px 25px 25px 25px ;
    height: 345px;
    border-radius: 40px;
    background-color: #351165;
}
.box-2{
    grid-column: 2 / span 2;
    padding: 25px;
    height: 160px;
    border-radius: 40px;
    background-color: #351165;
}
.box-3{
    grid-column: 2 / span 2;
    padding: 25px;
    height: 160px;
    border-radius: 40px;
    background-color: #351165;
}
.box-4{
    grid-column: 1 / span 2;
    padding: 25px;
    height: 200px;
    border-radius: 40px;
    background-color: #351165;
}
.box-5{
    padding: 25px;
    height: 200px;
    border-radius: 40px;
    background-color: #351165;
}
.grid-container img {
    /* width: 60px;
    height: 60px; */
    padding-bottom: 10px;
}

.grid-container h3 {
    font-size: 1.07rem;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.grid-container p{
    color: #FFFFFF;
}


/* feature related style */
.feature{
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-bottom: 50px;
    justify-content: center;
    
}
.feature-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.feature-cards{
    display: flex;
    grid-template-columns: repeat(3,1fr);
    gap: 29px;
    /* border-radius: 40px; */

}
.card-img iframe{
    width: 100%;
}
.feature-card{
    height: 460px;
    /* border: 1px solid blueviolet; */
    background-color: #351165;
    border-radius: 10px;

    
}
.feature-card h3 {
    font-size: 1.10rem;
    color: #FFFFFF;
    font-weight: 700;
    padding: 5px 5px 5px 15px;
}
.feature-card p {
    color: #FFFFFF;
    padding: 5px 5px 5px 15px;
    
}
.feature-card h4{
    color: #00FF88;
    padding: 5px 5px 5px 15px;
}

/* meet the host section deasine */

.host-section{
    max-width: 1200px;
    /* border: 1px solid blue; */
    margin-bottom: 20px;
    margin: 0 auto;
    /* align-items: center; */
}
.host-title{
    color: #FFFFFF;
    font-size: 3rem;
    margin-bottom:50px;
    text-align: center;

}
.host-conent{
    display: flex;
    /* border: 1px solid teal; */
    height: 230px;
    align-items: center;
    gap: 20px;
    background-color: #351165;
    border-radius: 50px;
    
}
.host-info h3{
    color: #FFFFFF;
    padding-bottom: 15px;
    font-size: 1.5rem;
}
.host-info{
    color: #FFFFFF;
    padding-bottom: 40px;
}
.host-logo{
    padding-left: 30px;
}
.host-logo img{
    width: 200px;
    height: 200px;
    padding-top: 10px;
}

.host-info p{
    padding-bottom: 10px;
}
footer{
    max-width: 1600px;
    margin-bottom: 40px;

}
.footer-section{
    position: relative;
    margin-top: 100px;
}
/* .footer-section img{
    padding-bottom: 25px;
} */
.footer-section img{
    max-width: 1600px;
    margin: 0 auto;
    
}
.tec{
    height: 50px;
    width: 360px;
}

.footer-container{
    position: absolute;
    top:36%;
    left: 525px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.footer-container .tec{
    max-width: 400px;
}
.footer-logo{
    
    display:flex;
}
.footer-logo img{

}
.platform-item{
    padding: 20px 20px 30px 20px;
    color: #FFFFFF;
}
.footer-container{
    color: #FFFFFF;
}


   

/* responsive media quary */

@media screen and (max-width: 576px) {
    .nav-item,.nav-links , .btn{
        display: none;
    }
    .img{
    /* border:  2px solid red; */
    width: 137px;
    height: 20px;
    margin-left: 10px;
}
    .hamburger-menu{
    display: inline;
    margin-right: 25px;
}


 .grid-container{
    grid-template-columns: 1fr;
  }
  .stars{
    grid-template-columns:repeat(2,1fr);
    padding-left: 25px;
    gap: 10px;
  }
  .about-content{
    padding: 0 10px 0 10px;
  }
  .about-content h1 {
    font-size: 2rem;
  }

/* chooes saction */

.box-1{
    grid-row:auto;
}
.box-2{
    grid-column: auto;
}
.box-3{
    grid-column: auto;
.box-4{
    grid-column: auto;
}
}
}